body {
  background-color: #D3D3D3!important;
}
p {
  color: grey;
  margin-left: 12.5%!important;
  margin-right: 12.5%!important;
  font-size: 17px;
}
/* =================================================
                HOME STYLE
================================================== */
.space {
  padding: 50px;
}
.home-page .title {
  padding-top: 25px;
}
@media (min-width:992px) {
  .container.main-content {
    width: 850px;
    background-color: white;
    box-shadow: 10px 10px 25px;
  }
  .home-page img {
    border-radius: 50%;
    width: 67%;
    margin-top: 20px;
    margin-left: 40%;
  }
}
@media (max-width:991px) {
  .container.main-content {
    width: 95%;
    background-color: white;
  }
  .home-page img {
    border-radius: 50%;
    width: 67%;
    margin-top: 20px;
  }
}
.row.my-links  {
  margin-left: 12.5%;
  margin-right: 12,5%;
}
.skills h4, .skills ul {
  margin-left: 12.5%;
  margin-right:12.5%;
  margin-top: 10px;
  color: grey;
}
.my-links-list {
  list-style: none;
  text-align: left;
}
.my-links .fa {
  font-size: 2.5rem;
  color: grey;
  padding-right: 5px;
  transition: color .3s ease-in;
}
.my-links a {
  font-size: 20px;
  color: grey;
  transition: color .3s ease-in;
}
.my-links .item {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
}
.my-links a:hover {
  color: #0033A3;
}
.my-links a:hover .fa {
  color: #0033A3;
}
.parent-item {
  display: inline-block;
  margin-left: 3.5%;
}
.skills li {
  padding-top: 5px;
  font-size: 17px;
}
/* =================================================
                NAV STYLE
================================================== */
.navbar ul {
    padding-left: 0px;
    padding-right: 100px;
}
@media (max-width: 767px){
    .nav ul {
      padding-right: 0px;
    }
}
.navbar.zack-nav {
    background: white;
    border: none;
    margin-bottom: 0;
    box-shadow: 10px 10px 25px;
}
@media (min-width:767px) {
  #myNavbar {
    display: inline;
    float: right;
  }
}
@media (max-width:766px) {
  .navbar-header {
    display: inline-block;
    float: right;
  }
  .about-me-nav {
    margin-top: 39px;
  }
}
.navbar.zack-nav .navbar-nav li a {
    padding: 21px 15px;
    color: grey;
    font-size: 17px;
    transition: background .1s linear;
}
.navbar.zack-nav li a:hover,
.navbar.zack-nav li a:focus,
.navbar.zack-nav li a.active{
    background: grey;
    color: white;
}
.navbar-nav > li > a {
    border-radius: 0px;
}
.navbar-nav > a {
    border-radius: 0px;
    float: left;
}
.navbar-header .icon-bar {
  background-color: grey;
}
.navbar-header button {
  border: 1px solid grey;
}
@media (max-width: 767px){
    .navbar ul {
      padding-right: 0px;
    }
}
.zack-nav img {
  border-radius: 50%;
  width: 54px;
  padding: 4px 0px;
  float: left;
}
.zack-nav h3 {
  display: inline;
  margin-top: 17px;
  float: left;
  margin-left: 18px;
  color: grey;
}

.navbar-collapse.collapsing {
  display: inline;
}
.navbar-collapse.collapse.in {
  display: inline;
}
/* =================================================
                Projects STYLE
================================================== */
.project-page h1, .project-page h3{
  margin-left: 12.5%;
  margin-right: 12.5%;
}
.project-page h3 {
  color: grey;
  padding-bottom: 20px;
}
.project-page img {
  padding-bottom: 30px;
    margin-left: 12.5%;
    margin-right: 12.5%;
}
@media (max-width:767px) {
  .project-gif {
    width: 75%;
  }
}
/* =================================================
                Resume STYLE
================================================== */
.resume-page h1{
    margin-left: 12.5%;
    margin-right: 12.5%;
  }
.resume-page h4, .resume-page h3 {
  color: grey;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 12.5%;
  margin-right: 12.5%;
}
.resume-page > ul > li {
  font-size: 17px;
}
.resume-page > ul {
  margin-left: 12.5%;
  margin-right:12.5%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: grey;
}
.download-links {
  display: inline;
  float: right;
  padding-top: 32px;
  padding-right: 10px;
}
/* =================================================
                About STYLE
================================================== */
