.main-content {
  display: none;
}
.full-width-styless {
  width: 100%;
}
.a-black {
  color: #000;
}
.a-black:hover, .a-black:focus {
  text-decoration: none;
}
/* =================================================
                NAVIGATION BAR STYLE
================================================== */
ul {
    padding-left: 0px;
    padding-right: 100px;
}
@media (max-width: 767px){
    ul {
      padding-right: 0px;
    }
    .navbar.wildcat-nav li {
      border-bottom: 1px solid #ffffff;
    }
}
.navbar.wildcat-nav {
    background-color: #333333;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}
.navbar.wildcat-nav .navbar-nav li a {
    padding: 21px 15px;
    color: white;
}
.navbar.wildcat-nav li a:hover,
.navbar.wildcat-nav li a:focus,
.navbar.wildcat-nav li a.active,
.navbar.wildcat-nav li a:active {
    background: rgba(255, 255, 255, 0.8);
    color: #0033A0;
}
.navbar-nav > li > a {
    border-radius: 0px;
}
.navbar-nav > a {
    border-radius: 0px;
    float: left;
}
.navbar-header .icon-bar {
  background-color: white;
}
.navbar-header button {
  border: 1px solid white;
}
@media (min-width: 768px){
  .navbar-header .contact-social-facebook {
    padding-left: 100px;
  }
}
@media (max-width: 767px){
  .navbar-header .contact-social-facebook {
    padding-left:  10px;
  }
}

/*@media (max-width: 991px) {
  .navbar-toggle.wg-toggle {
    display: block;
  }
  .navbar-collapse.collapse {
      display: none !important;
  }
  .navbar-collapse.collapse.in {
      display: block !important;
  }
}*/
.navbar-header .contact-social-facebook {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  display: inline-block;
}
.navbar-header .contact-social-twitter {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  display: inline;
}
.navbar-header .contact-social-youtube {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  display: inline;
}
.navbar-header .contact-social-twitch {
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline;
}
.navbar-header .fa {
    font-size: 2rem!important;
    color: 	white;
    padding: 0;
}
.navbar-header .fa-facebook-square:hover {
    color: 	#3b5998;
}
.navbar-header .fa-twitter-square:hover {
  color: 	#00aced;
}
.navbar-header .fa-youtube-square:hover {
  color: 	#bb0000;
}
.navbar-header .fa-twitch:hover {
  color: 	#6441A5;
}
@media (min-width: 766px){
  .floating_link{
    position: fixed;
    display: block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    /*background-color: #333;*/
    border-radius: 10px;
    -webkit-transform: rotate(90deg);
    z-index: 50;
    left: -60px;
    transition:  left .3s;
    -moz-transition: left .3s;
    -webkit-transition: left .3s;
    -o-transition:  left .3s;
  }
  #pc_float{
       top: 300px;
       background-color: #21759A;
  }
  #phone_float {
    top: 402px;
    background-color: #af1100;
  }
  #web_float{
    top: 504px;
    background-color: #f79000;
  }
  #gaming_float{
    top: 606px;
    background-color: #008416;
  }
  .floating_link h3 {
    padding: 0;
    margin-top: 13px;
    color: white;
    font-size: 18px;
    text-align: center;
  }
  .floating_link:hover{
    left: -50px;
  }
}

/* =================================================
                SERVICE GRID STYLE
================================================== */
.service-grid .col-md-4 .service-box {
    background: rgba(0, 51, 160, 0.8);
    height: 265px;
    position: relative;
    margin: 0 auto;
    width: 95%;
    box-shadow: 10px 10px 25px;
    transition: all .4s ease;
}
.service-grid .col-md-4 {
    padding: 0px 0px;
}
.service-grid .col-md-4 .service-box:hover {
    box-shadow: none;
}
.service-box h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px #333;
    padding: 10px 0px;
}
.service-box {
  display: none;
}
.service-grid .service-box .fa {
    color:  white;
    font-size: 15rem;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}
.service-grid .service-box:hover .fa {
    position: absolute;
    z-index: -1;
    opacity: 0;
    text-align: center;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}
.service-grid .service-box p {
    visibility: hidden;
    opacity: 0;
    padding-left: 3px;
    padding-right: 3px;
}
.service-grid .service-box:hover p {
    visibility: visible;
    position: absolute;
    opacity: 1;
    color: white;
    font-size: 25px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}
.service-grid .col-md-4 a {
  text-decoration: none;
  color: #333;
}
.service-grid .col-md-4 a:hover,
.service-grid .col-md-4 a:focus {
  color: transparent;
}
.last-row {
  margin-bottom: 50px;
}

/* =================================================
                HOME STYLE
================================================== */
.full-width:nth-child(2n) {
  background: rgba(0, 51, 160, .8);
}
.full-width {
  padding: 50px 0px;
}
.full-width img {
  box-shadow: 5px 5px 5px #333;
  width: 100%;
}
.full-width:nth-child(2n) p {
  color: #fff;
}
.full-width:nth-child(2n) hr {
  border: 1px solid #fff;
}
.full-width:nth-child(2n + 1) hr {
  border: 1px solid #000000;
}
.full-width p, ul {
  font-size: 17px;
}
.full-width ul {
  padding-left: 10%;
}
.full-width h1 {
  font-size: 30pt;
  color: #000000;
  font-weight: 800;
  margin-bottom: 20px;
}
/* =================================================
                FOOTER STYLE
================================================== */
footer {
    background-color: #333333;
    padding: 20px 0px;
    position: relative;
}
footer a {
    color: white;
}
footer li a {
  float: left;
}
footer a:hover, footer a:focus {
    color: #0033A0;
}
footer a h5 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
footer h3, footer p {
   color: white;
}
footer .container h3,
footer .container h5 {
  margin-top: 0px;
}
input#tlemail {
    width: 60%;
    border: none;
    height: 40px;
}
footer input[type="submit"]{
    border: none;
    background-color: rgba(0, 51, 160, .8);
    color: white;
    width: 30%;
    height: 40px;
    padding-top: 0px;
}
footer input[type="submit"]:hover {
    cursor: pointer;
}
.newsletter-column h3,
.newsletter-column p {
    text-align: center;
}
.newsletter-column p {
    margin-top: 10px;
}

/* =================================================
                Gaming Page STYLE
================================================== */

.gaming-page > .row:nth-child(2n+1){
  background-color: rgba(0, 51, 160, .8);
  color: white;
}
.gaming-page .row{
  padding: 25px 0px;
  margin-left: 0;
  margin-right: 0;
}
.gaming-page .row p {
  font-size: 17px;
}
.schedule p {
  padding-bottom: 30px;
}
.gaming-page .row:nth-child(2n + 1) hr {
  border: 1px solid white;
}
.gaming-page .row hr {
  border: 1px solid black;
}
.gaming-page .btn-group{
  left: 0;
  padding-top: 10px;
  padding-bottom: 30px;
}
.gaming-page .fa-calendar {
  font-size: 15rem;
}

/* =================================================
                Contact Us Page STYLE
================================================== */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%;
    padding: 8px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 4px; /* Add a top margin */
    margin-bottom: 10px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=text]:focus, select:focus, textarea:focus {
    border: 1px solid #0033A0;
}
.container-contact input[type=submit] {
    background-color: #0033A0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.connected-info input[type=submit]:hover {
    background-color: rgba(0, 51, 160, .8);
}
.connected-info input[type=submit] {
    background-color: #0033A0;
    color: white;
    border: none;
    cursor: pointer;
    height: 40px;
    padding-top: 0px;
}
.text-and-button input[type="submit"]:hover,
.text-and-button input[type="submit"]:focus,
.container-contact input[type="submit"]:hover {
    background-color: rgba(0, 51, 160, .8);
}
.contact-page {
    padding-top: 20px;
    padding-bottom: 100px;
}
.contact-page h4 {
    padding-bottom: 40px;
    color: #A9A9A9;
    font-style: italic;
}
.connected-info h4 {
    padding-bottom: 0;
    color: #A9A9A9;
    font-style: normal;
}
.connected-info > h3 {
    padding-bottom: 10px;
    font-style: normal;
}
#gofundme-btn {
  background-color: #f7b231;
}
.text-and-button {
  top: 1px;
  width: 100%;
  height: 40px;
}
.text-and-button input[type="text"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #0033A0;
  font-weight: 800;
  font-size: 8pt;
}
.text-and-button input[type="submit"] {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.contact-social .fa {
    font-size: 7rem;
    padding-top: 50px;
    padding-bottom: 25px;
}
.fa-facebook-square {
    color: 	#3b5998;
}
.fa-twitter-square {
  color: 	#00aced;
}
.fa-youtube-square {
  color: 	#bb0000;
}
.fa-twitch {
  color: 	#6441A5;
}
.btn-group {
  left: 25%;
}
.contact-social:hover {
  text-decoration: none;
}
/* =================================================
                SERVICE Page STYLE
================================================== */

.package-box {
    background-color: #f2f2f2;
    box-shadow: 10px 10px 25px #333;
    padding: 10px 20px;
    transition: all .4s ease;
}
.package-box:hover {
    box-shadow: none;
}
.package-box h1 {
    text-align: center;
}
.package-container {
    padding: 25px 0px 50px;
}
.package-container h1 {
    margin-bottom: 35px;
    margin-left: 15px;
    margin-right: 15px;
}
.package-container p {
    text-align: center;
}
.span12 h1 {
  text-align: center;
}

/* =================================================
                Store Page STYLE
================================================== */
.store-warning {
  margin-bottom: 0px!important;
}
.store-products .carousel-control {
  padding-top:10%;
  width:5%;
}
.product-text-image {
  position: absolute;
  bottom: 0;
  width: 89.3%;
  color: white;
  text-align: center;
  background-color: black;
  opacity: .5;
}
@keyframes fadeInUp {
  from {height: 50px;}
  to {height: 75px;}
}
@keyframes fadeInDown {
  from {height: 75px;}
  to {height: 40px;}
}
.product-image:hover .product-text-image {
  animation: fadeInUp .3s;
  animation-fill-mode: forwards;
}
.product-image:hover .price-text {
  display: block;
}
/*.product-image::after .product-text-image {
  animation: fadeInDown .3s;
  animation-fill-mode: both;
}*/
.product-image .price-text {
  display: none;
}
.carousels .row {
  margin-left: 0;
  margin-right: 0;
}
.carousels .row:nth-child(2n){
  background: rgba(0, 51, 160, .8);
}
.carousels .row:nth-child(2n) h2{
  color: #fff;
}
.carousels .row:nth-child(2n) hr {
  border: 1px solid #fff;
}
.carousels .row:nth-child(2n + 1) hr {
  border: 1px solid #000000;
}

/*<!-- Test-->*/
.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }
.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 15px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 15px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -25%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 25%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(25%, 0, 0);
            transform: translate3d(25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-25%, 0, 0);
            transform: translate3d(-25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}
.container {
  margin-bottom: 50px;
}

@media (min-width: 992px){
  .amazon-wide-banner iframe {
    width: 728px;
  }
}
@media (max-width: 991px){
  .amazon-wide-banner iframe {
    display: none;
  }
  .product-text-image {
    width: 91.3%;
  }
}

/* =================================================
                About Page STYLE
================================================== */

.full-width.team-row {
  padding-top:0;
}
.team-top-row {
  padding-top: 60px;
}
.team-image {
  border-radius: 50%;
}
.team-row p {
  width: 90%;
  text-align: justify;
  padding-bottom: 10px;
}
@media (min-width: 992px){
  .zack-about, .parker-about, .madison-about, .mobile-view {
    display: none;
  }
  .zack-row {
    padding-left: 0px!important;
    padding-right: 30px!important;
  }
  .parker-row {
    padding-left: 30px!important;
    padding-right: 0px!important;
  }
  .team-image:hover {
    cursor: pointer;
  }
}
@media (max-width: 991px){
  .desktop-view {
    display: none;
  }
}
.about-text-container {
  width:75%;
  margin-top: 40px;
  background-color: #f2f2f2;;
  box-shadow: 10px 10px 25px #333;
  border-radius: 10px;
}
.website-picture-container .website-img-box {
    background-color: rgba(0, 0, 0, .8);
    padding: 0;
}
.website-picture-container .website-img-box img {
    position: relative;
    z-index: -1;
    width: 100%;
}
.website-picture-container .website-img-box:hover img {
    z-index: 1;
    cursor: pointer;
}
.icon-box.wordpress-blue {
    background-color: #21759A;
}
.icon-box.light-blue {
  background-color: #0092d6;
}
.icon-box.green {
    background-color: #008416;
}
.icon-box.orange {
  background-color: #f79000;
}
.icon-box.yellow {
  background-color: #cec400;
}
.icon-box.red {
  background-color: #af1100;
}
.icon-box .fa {
    color: white;
    font-size: 14rem;
    padding: 10% 0;
}
.icon-box {
    text-align: center;
    box-shadow: 10px 10px 25px #333;
}
.web-development-page .package-row {
  margin-bottom: 5%;
}
.web-development-page .package-row .package-box h3 {
  text-align: center;
  font-weight: 600;
}
.web-development-page .package-row .package-box:hover {
  cursor: pointer;
}
@media (max-width: 991px){
  .col-md-4 {
      margin-bottom: 5%;
  }
  .col-md-4.website-img-box {
    margin-bottom: 0%;
  }
}
.web-development-page {
  display: none;
}
#custom-web-content ul, #custom-web-content small {
  color: white;
}
